@model Peach.Recipes.Web.Areas.Books.Models.BookViewModel
@{
  ViewBag.Title = "Kogebog";
}

<h1>@Model.Book.Title</h1>

<h2>Opskrifter</h2>

<ol>
@foreach (var recipe in Model.Recipes)
{
  <li>@recipe.Title</li>
}
</ol>

