<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="MongoDBSettings"
             type="Xyperico.Base.MongoDB.ConfigurationSettings, Xyperico.Base.MongoDB"/>
  </configSections>

  <MongoDBSettings>
    <ConfigurationEntries>
      <add Database="PeachPhotos" Server="localhost" Port="27017" Name="Peach.Photos"/>
    </ConfigurationEntries>
  </MongoDBSettings>

  <appSettings>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
